@using Adrack.Service.Helpers
@using Adrack.Service.Security
@using Adrack.Core.Infrastructure
@using Adrack.Service.Helpers

@{
    Layout = "~/Views/Shared/_Master.Page.Layout.cshtml";
    Html.AddPageTitle("Campaigns");
    Html.AddPageMetaDescription("Shows All Campaigns");

    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/tables/datatables/datatables.min.js").ToLowerInvariant());

    var currentUser = this.AppContext.AppUser;

    var permissionService = AppEngineContext.Current.Resolve<IPermissionService>();
}

<script type="text/javascript" src="~/Scripts/plugins/forms/selects/select2.min.js"></script>

<script src="~/Scripts/pages-js/CampaignList.js"></script>
<script> CampaignListParam.init('@Html.Raw(currentUser.UserTypeId == SharedData.BuiltInUserTypeId || permissionService.Authorize(PermissionProvider.CampaignsModify) ? ",Action" : "")'); </script>



<button id="add_new" type="button" class="btn btn-success btn-sm">
    <i class="icon-add-to-list position-left"></i>Add Campaign
</button><br /><br />

@if (currentUser.UserTypeId == SharedData.BuiltInUserTypeId || permissionService.Authorize(PermissionProvider.CampaignsFilter))
{
    <div class="status-filter">
        <div data-toggle="buttons" class="btn-group">
            <label class="btn btn-default active">
                <input type="radio" checked="checked" id="status0" name="statusradio"> Show All
            </label>
            <label class="btn btn-default">
                <input type="radio" id="status1" name="statusradio"> Show Deleted
            </label>
        </div>
    </div>
}

<div id="GridView1"></div>