<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/78012d14-2d95-42a2-afba-6ded2bdfc5f0/resourceGroups/lead-distribution/providers/Microsoft.Web/sites/lead-distribution</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lead-distribution.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>lead-distribution.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lead-distribution</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$lead-distribution</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dev_lead_analyticsConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=lead-distribution.database.windows.net;Initial Catalog=livedemo;Persist Security Info=True;User ID=adrack;Password=cS28NfrhEW" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=prod-rack-lead-db1.database.windows.net;Initial Catalog=lead-distribution-distribution;Persist Security Info=True;User ID=Prod-Lead-User;Password=P@ssw0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dev_lead_analyticsConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=prod-rack-lead-db1.database.windows.net;Initial Catalog=lead-distribution-distribution;Persist Security Info=True;User ID=Prod-Lead-User;Password=P@ssw0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="dev_lead_analyticsConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=lead-distribution.database.windows.net;Initial Catalog=livedemo;Persist Security Info=True;User ID=adrack;Password=cS28NfrhEW</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>