@using Adrack.Service.Helpers

@{
    Layout = null;
    var currentUser = this.AppContext.AppUser;
}

<fieldset @Html.Raw((ViewBag.Show == 0  ? "style='display: none'" : "class='step' id='step" + ViewBag.StepIndex.ToString() + "'"))>

    <h6 class="form-wizard-title text-semibold">
        <span class="form-wizard-count">@ViewBag.StepIndex</span>
        <span>Integration</span>
    </h6>

    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal_default">Load template (XML) <i class="icon-play3 position-right"></i></button>

    <div class="table-responsive">
        <table class="table table-bordered tree-table">
            <thead>
                <tr>
                    <th style="width: 46px;">#</th>
                    <th style="width: 80px;">Template field</th>
                    <th style="width: 80px;">Campaign field</th>
                    <th style="width: 80px;">Default value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>