@model Adrack.Web.ContentManagement.Models.Accounting.AffiliateInvoiceModel

@using Adrack.Service.Security
@using Adrack.Core.Infrastructure

@{
    Layout = "~/Views/Shared/_Master.Page.Layout.cshtml";
    Html.AddPageTitle("Affiliate Payment Notice");
    Html.AddPageMetaDescription("Shows all Affiliate Payment Notice");

    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/tables/datatables/datatables.min.js").ToLowerInvariant());
    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/select2.min.js").ToLowerInvariant());

    var permissionService = AppEngineContext.Current.Resolve<IPermissionService>();
}

<script type="text/javascript" src="~/Scripts/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/pickers/daterangepicker.js"></script>

<br>
<div class="row" style="margin-bottom:-38px; position:absolute; z-index:1001">
    <div class="display-inline-block" style="width: 350px">
        <select id="AllAffiliatesList" data-placeholder="Select an Affiliate..." class="select-search-buyers">
            <option value="0">All Affiliates</option>
            @foreach (Adrack.Core.Domain.Lead.Affiliate bu in ViewBag.AllAffiliatesList)
            {
                <option value="@bu.Id">@bu.Name</option>
            }
        </select>
    </div>
    <div class="display-inline-block">
        <input type="text" class="daterange form-control" value="@ViewBag.TimeZoneNow" style="height: 35px; margin: 0 0 -14px 0">
    </div>

    <div class="display-inline-block">
        <select id="status-filter" data-placeholder="" style="width:150px" class="form-control">
            <option value="-2" selected="selected">All Statuses</option>
            <option value="1">Approved</option>
            <option value="0">Not Approved</option>
            <option value="2">Paid</option>
            <option value="-1">Deleted</option>
        </select>
    </div>
    <div class="display-inline-block">
        <button id="ShowAll" class="btn btn-default btn-xs margin-lr" type="button"> Clear Filters </button>
    </div>

    <div class="display-inline-block" style="width:50px">
    </div>

    <div class="display-inline-block" style="width:444px">
        <div class="col-md-3 text-center bg-teal-400 margin-lr">
            <span class="text-size-small">Invoiced </span><br>
            <span id="InvoicedSum" class="text-semibold no-margin text-size-large">0</span>
        </div>

        <div class="col-md-3 text-center bg-pink-400 margin-lr">
            <span class="text-size-small">Payments </span><br>
            <span id="ApprovedSum" class="text-semibold no-margin text-size-large">0</span>
        </div>

        <div class="col-md-3 text-center bg-blue-400 margin-lr">
            <span class="text-size-small">Outstanding </span><br>
            <span id="PaidSum" class="text-semibold no-margin text-size-large">0</span>
        </div>
    </div>
</div>

<br>
<div id="GridView1"></div>

<script src="~/Scripts/pages-js/AffiliateInvoices.js"></script>
<script>
    AffiliateInvoicesParams.init('@Adrack.Web.ContentManagement.Helper.GetTimeZoneStr()');
</script>