<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/3.3.7/css/bootstrap.min.css?v=113">
    <link rel="stylesheet" href="css/style.css">
    <title>Form</title>
</head>

<body>
<div class="container mt30">
    <div class="row">
        <div class="text-center">
            <div class="blackColor fontSize30">Stay tuned!</div>
            <div class="mt30 blackColor fontSize18">We are trying our best to find you a match, will be right back soon!</div>
            <div class="mt30 fontSize18">Please do not refresh the page.</div>
            <img class="loadingImg" src="img/ezgif.com-gif-maker (18).gif" />
        </div>
    </div>
</div>
</body>
</html>