<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap/3.3.7/css/bootstrap.min.css?v=113">
    <link rel="stylesheet" href="css/style.css">
    <title>Form</title>
</head>

<body style="background: #F3F8F9">
<div class="container mt30">
    <div class="text-center blackColor">
        <div class="row fontSize30 ">Searching finished</div>
        <div class="row mt30 fontSize18">Sorry, but you were not matched with any lenders</div>
        <div class="row imgSize mt30 ">
            <img src="img/DeepinScreenshot_select-area_20211104170808.png" />
        </div>
    </div>
    <div class="row mt75 mb30 text-center fontSize16">Test, if we pair you with a lender, please note:</div>
    <div class="row ulStyle fontSize16">
        <ul>
            <li>
                <span class="blackColor">After we pair you with a third party lender, you are redirected to their
                website. The lender makes you a loan offer, presents you with terms,
                and asks for your approval. If you approve of the terms, you're one step
                    closer to getting your money.</span>
            </li>
            <li><span class="blackColor">The lender makes you a loan offer, presents you with terms, and asks for your approval.
                If you approve of the terms, you're one step closer to getting your money.
                If you change your ming and don't want the loan, simply decline it.</span>
            </li>
            <li>
                <span class="blackColor">After we pair you with a third party lender, you are redirected to their website.</span>
            </li>
        </ul>
    </div>
    <div class="row containerDivs text-center fontSize14">
        <div class="containerItem">
            <div>Credit Type Does Not Matter</div>
            <div>Our lenders work with all types of credits!</div>
        </div>
        <div class="containerItem">
            <div>Secure Data Encryption</div>
            <div>We encrypt your personal information with 256 bit encryption!</div>
        </div>
        <div class="containerItem">
            <div>On-Site Results</div>
            <div>Within minutes your results will be displayed on our site.</div>
        </div>
        <div class="containerItem">
            <div>Fast, Simple & Hassle - Free</div>
            <div>Designed to be straightforward and easy-to use!</div>
        </div>
    </div>
</div>
</body>
</html>