@if (ViewBag.SelectedAffiliateId != null)
{
<div class="navbar navbar-default header-highlight">
    <ul class="nav navbar-nav buyer-submenu">
        @*<li><a href="/Management/Affiliate/Dashboard/@ViewBag.SelectedAffiliateId"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="/Management/Lead/Affiliate/@ViewBag.SelectedAffiliateId"><i class="icon-make-group position-left"></i> <span>Leads</span></a></li>*@
        <li><a href="/Management/Affiliate/Item/@ViewBag.SelectedAffiliateId"><i class="icon-hammer-wrench"></i> <span>Company Info</span></a></li>
        <li><a href="/Management/Affiliate/Channels/@ViewBag.SelectedAffiliateId"><i class="fa fa-users"></i> <span>Channels</span></a></li>
        <li><a href="/Management/Affiliate/Reports/@ViewBag.SelectedAffiliateId"><i class="icon-calendar5"></i> <span>Report</span></a></li>
        <li><a href="/Management/Accounting/Invoices/?affiliateid=@ViewBag.SelectedAffiliateId"><i class="fa fa-money"></i> <span>Accounting</span></a></li>
        <li><a href="/Management/Support/Tickets/?affiliateid=@ViewBag.SelectedAffiliateId"><i class="icon-lifebuoy"></i> <span>Support</span></a></li>
        <li><a href="/Management/Affiliate/Users/@ViewBag.SelectedAffiliateId"><i class="fa fa-users"></i> <span>Users</span></a></li>
        @*<li><a href="/Affiliate/Campaigns/"><i class="fa fa-money"></i> <span>Campaigns</span></a></li>*@
        <li><a href="/Management/Affiliate/PaymentOptions/@ViewBag.SelectedAffiliateId"><i class="fa fa-bank"></i> <span>Payment Options</span></a></li>
        <li><a href="/Management/Affiliate/History/@ViewBag.SelectedAffiliateId"><i class="fa fa-history"></i> <span>History</span></a></li>
    </ul>
</div>
}