@{
    Layout = null;
}

<script>
    $(document).ready(function () {
        passwordScore = runPassword($('#@ViewBag.PasswordElement').val(), 'pwd');

        $('#@ViewBag.PasswordElement').on('keyup', function () {
            passwordScore = runPassword($(this).val(), 'pwd');
        });

        $('#@ViewBag.PasswordElement').on('change', function () {
            passwordScore = runPassword($(this).val(), 'pwd');
        });
    })
</script>

<div style="margin-top: -15px">
    <label style="color: black; font-size: 10px">Password strength</label><br />
    <div style="width: 50%; background-color: lightgray">
        <div id="pwd_bar" style="width: 100%; height: 5px"></div>
    </div>
</div>