@{
    Layout = "~/Views/Shared/_Master.Page.Layout.cshtml";

    Html.AddPageTitle(T("PageTitle.PageNotFound").Text);
}

<section>
    <div class="notfoundpanel">
        <h1>404!</h1>
        <h3>The page you are looking for has not been found!</h3>
        <hr class="darken">
        <ul class="list-inline"></ul>
    </div>
</section>