@{
    Layout = "~/Views/Shared/_Master.Page.Layout.cshtml";

    Html.AddPageTitle(T("PageTitle.Search").Text);
}

@model SearchModel

@using (Html.BeginRouteForm("CommonSearch", FormMethod.Get, new {id = "search-form"}))
{
    <div id="search-input">
        <div class="input-group col-md-12">
            <input type="text" name="q" id="search-bar" placeholder="@T("Search.Tooltip")" autocomplete="off" class="form-control input-lg" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default btn-lg">
                    <i class="glyphicon glyphicon-search"></i> @*@T("Search.Button")*@
                </button>
            </span>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Warning))
{
    <div>
        @Model.Warning
    </div>
}

@if (Model.NoResults)
{
    <div>
        @T("Search.NoResultsText")
    </div>
}