@{
    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/tables/datatables/datatables.min.js").ToLowerInvariant());
}

<script type="text/javascript" src="~/Scripts/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/plugins/pickers/daterangepicker.js"></script>

<script type="text/javascript" src="~/Scripts/plugins/forms/selects/select2.min.js"></script>
<br>
<div class="history-partial-btns">
    <button type="button" id="HistoryRefresh" class="btn btn-info btn-ladda btn-ladda-spinner" data-spinner-color="#fff" data-style="zoom-in"><span class="ladda-label">Refresh</span></button>
    <button type="button" id="ClearFilters" class="btn btn-danger btn-ladda btn-ladda-spinner" data-spinner-color="#fff" data-style="zoom-in"><span class="ladda-label">Clear All Filters</span></button>
</div>

<input type="hidden" value="1" id="GridPageNumber">
<div id="DataTables_Table_3_wrapper" class="dataTables_wrapper no-footer history-partial-table">
    <div class="datatable-scroll">
        <table width="100%" class="table datatable-scroll-y dataTable no-footer" id="DataTables_History" role="grid" aria-describedby="DataTables_Table_3_info" style="width: 100%;">
            <thead>
                <tr role="row" style="height: 0px;">
                    <th width="12%">ID</th>
                    <th width="12%">
                        <input type="text" class="daterange form-control">
                    </th>
                    <th width="20%">
                        Action
                    </th>
                    <th width="10%">
                        Note
                    </th>
                    <th width="20%">
                        User / Role
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="datatable-footer">
        <div class="dataTables_info" id="DataTables_Table_3_info" role="status" aria-live="polite">
            Showing page <span id="PageNumberSpan">1</span>
            <br>Total <span id="totalRecords"></span> entries
        </div>
        <!-- <a class="paginate_button previous disabled" id="PreviousPage">←</a> -->
        <div class="dataTables_paginate paging_simple_numbers" id="GridViewLeads_paginate"></div>
        <!-- <a class="paginate_button next" id="NextPage">→</a> -->
    </div>
</div>
<button style="display:none;" type="button" class="btn btn-info2 btn-row-click btn-sm" data-toggle="modal" data-target="#modal_theme_info2">Launch <i class="icon-play3 position-right"></i></button>

<!-- Info modal -->
<div id="modal_theme_info2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">History Details</h6>
            </div>
            <div class="modal-body">
                <!--            <img src="\Content\img\ajax-loader.gif" /> -->
                <table>
                    <tr><td style="width:150px">Date:</td><td id="tr-data"></td></tr>
                    <tr><td>Action:</td><td id="tr-action"></td></tr>
                    <tr><td>Entity # ID:</td><td id="tr-enitity"></td></tr>
                    <tr><td>Note:</td><td id="tr-note"></td></tr>
                    <tr><td>User:</td><td id="tr-user"></td></tr>
                </table>
                <div id="history-details">
                    <hr>
                    <h6 class="text-semibold">Fields details</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="table-details">
                            <thead>
                                <tr>
                                    <th>Field Name</th>
                                    <th>Old Data</th>
                                    <th>Data Difference</th>
                                    <th>New Data</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /info modal -->

<script src="~/Scripts/pages-js/HistoryPartial.js"></script>
<script> HistoryPartialParams.init(@ViewBag.UserId, '@ViewBag.Entity', @ViewBag.EntityId, '@Adrack.Web.ContentManagement.Helper.GetTimeZoneStr()'); </script>