@model Adrack.Web.ContentManagement.Models.Content.SettingModel

@using Adrack.Service.Security
@using Adrack.Core.Infrastructure


@{
    Html.AddPageTitle("Company Information");
    Html.AddPageMetaDescription("Edit Company Information");

    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/forms/selects/select2.min.js").ToLowerInvariant());
    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/forms/styling/switchery.min.js").ToLowerInvariant());
    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/forms/styling/switch.min.js").ToLowerInvariant());
    Html.AppendPageScript(PageLayoutPosition.Body, string.Format("~/Scripts/plugins/tables/datatables/datatables.min.js").ToLowerInvariant());

    var permissionService = AppEngineContext.Current.Resolve<IPermissionService>();

    int timeZoneIndex = -1;
}

<script>
    $(document).ready(function () {
        $('#decrypt-form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: "POST",
                data: $(this).serialize(),
                async: false,
                success: function (data) {
                    $('#decrypted-value').text(data);
                },
                error: function (jXHR, textStatus, errorThrown) {
                }
            });
        });
    });
</script>

@using (Html.BeginForm("Decrypt", null, FormMethod.Post, new { id = "decrypt-form", @class = "form-validation", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Enter hashed value</label><br />
                        <input type="text" class="form-control" name="value" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h5 id="decrypted-value"></h5>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Decrypt <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-validation", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Select CSV file:</label><br />
                        <input type="file" class="form-control" name="file" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Sub ID Index</label><br />
                        <input type="number" min="1" class="form-control" name="index" value="1" />
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-success">Decrypt <i class="icon-arrow-right14 position-right"></i></button>
            </div>
        </div>
    </div>
}