<html>
<head>

    <style>
        .tablerows {
            color: red;
            text-align: center;
        }

        .tablecell {
            height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.3em;
            color: black;
            text-align: center;
            border: 1px solid lightgray;
        }

        .tablecellsub {
            font-size: 0.8em;
            color: gray;
            line-height: 5px;
            text-align: center;
        }
    </style>

</head>
<body style="margin:0px;">
<!-- pagemarker -->
    <div style="background-repeat: no-repeat;
		background-image:url('D:/Downloads/HTML-Renderer-master/HTML-Renderer-master/Source/Demo/WinForms/bin/Debug/demo/header.png'); width:842px;
		height:595px;">
        <p style="color:#013951; padding-left:230px; padding-top:160px; font-size:3.2em; font-weight:bold;">
            MONTHLY STATEMENT<br>
            JANUARY, 2021<br>
            <span style="font-size:25px; font-weight:bold;">
                For Adrack Llc
            </span>

        </p>

    </div>
<!-- pagemarker -->

    <div style="background-repeat: no-repeat;
left:0px; background-image:url('D:/Downloads/HTML-Renderer-master/HTML-Renderer-master/Source/Demo/WinForms/bin/Debug/demo/second.jpg'); width:842px;
		height:595px;">
        <p style="color:#013951; padding-left:30px; padding-top:10px; font-size:2.1em; font-weight:normal;">
            <b>Agenda</b><br>
            &#8226;Summary<br>
            &#8226;Sale statistics by lead price<br>
            &#8226;Sale statistics by day of the week<br>
            &#8226;Sale statistics by hour<br>
            &#8226;Sale statistics by top 10 states<br>
            &#8226;Contact Information<br>
        </p>

    </div>

<!-- pagemarker -->
    <p align=center style="margin-top:10px; margin-bottom:0px; font-size:3.5em; color:#0280B7;">
        Summary<br>
               <span style="font-size:0.6em; color:#000000; margin:0px;">
                   Purchased Leads - 575<br />
                   <span style="font-size:0.6em !important; color:#000000;">( Change from previous month: - <b>15%</b> )</span>
               </span><br />
        
        <img src="D:/Downloads/HTML-Renderer-master/HTML-Renderer-master/Source/Demo/WinForms/bin/Debug/demo/graph1.png">
        <br />
    </p>

<!-- pagemarker -->
    <p align=center style="margin-top:10px; margin-bottom:0px; font-size:3.5em; color:#0280B7;">
        Sale Statistics by Lead Price<br>
        <span style="font-size:0.4em; color:#000000;">( Change from previous month: - <b>25%</b> )</span><br />
        <img src="D:/Downloads/HTML-Renderer-master/HTML-Renderer-master/Source/Demo/WinForms/bin/Debug/demo/graph2.png">
        

    </p>
<!-- pagemarker -->
    <p align=center style="margin-top:10px; margin-bottom:0px; font-size:3.5em; color:#0280B7;">
        Sale Statistics by Day of the Week<br>
        <span style="font-size:0.4em; color:#000000;">( Change from previous month: - <b>25%</b> )</span><br />
        <img src="D:/Downloads/HTML-Renderer-master/HTML-Renderer-master/Source/Demo/WinForms/bin/Debug/demo/graph3.png">
        

    </p>
<!-- pagemarker -->
    <p align=center style="margin-top:10px; margin-bottom:0px; font-size:3.5em; color:#0280B7;">
        Sale Statistics by Top States Table<br>
        <span style="font-size:0.4em; color:#000000;">Statistics is for current month (January) compared to the previous (December)</span><br>
        <span style="font-size:0.4em; color:#000000;">( Change from previous month: - <b>25%</b> )</span>
    </p>
   <div align=center>
    <table style="width:90%;" border=0 >
        <thead>
            <tr style="font-size:2em;">
                <th>State</th>
                <th>40</th>
                <th>50</th>
                <th>60</th>
                <th>70</th>
                <th>80</th>
            </tr>
        </thead>
        <tbody>
            <tr class='tablerows'>
                <td class="tablecell">AL</td>
                <td class="tablecell">
                    <sup style="color:green; font-weight:bold;">&#8593;</sup>40
                    <span class="tablecellsub"><br>100%</span>
                </td>
                <td class="tablecell"><sup style="color:red; font-weight:bold;">&#8595;</sup>50</td>
                <td class="tablecell">60&#129041;</td>
                <td class="tablecell">70</td>
                <td class="tablecell">80</td>
            </tr>
            <tr class='tablerows'>
                <td class="tablecell">AL</td>
                <td class="tablecell">40</td>
                <td class="tablecell">50</td>
                <td class="tablecell">60</td>
                <td class="tablecell">70</td>
                <td class="tablecell">80</td>
            </tr>
            <tr class='tablerows'>
                <td class="tablecell">AL</td>
                <td class="tablecell">40</td>
                <td class="tablecell">50</td>
                <td class="tablecell">60</td>
                <td class="tablecell">70</td>
                <td class="tablecell">80</td>
            </tr>

        </tbody>
    </table>
</div>
<!-- pagemarker -->

    <div style="background-repeat: no-repeat;
left:0px; background-image:url('D:/Downloads/HTML-Renderer-master/HTML-Renderer-master/Source/Demo/WinForms/bin/Debug/demo/footer.png'); width:842px;
		height:595px;">
        <p style="color:#013951; padding-left:190px; padding-top:40px; font-size:1.4em; font-weight:normal;">
            <b>Contact Information</b> :Anna Shneider<br>
            <b>E-mail</b>: anna.shneider@gmail.com<br>
            <b>Phone</b>: 1323687999<br>
            <b>
                Skype</<b>
                    : anna.shneider<br>
                    If you have any questions concerning this monthly statement,<br>
                    please contact your account manager.
        </p>

    </div>
<!-- pagemarker -->

</body>

</html>